/* Fonts */

.market-container {
  font-family: Helvetica, Arial,sans-serif;
}

.market-container h1 {
  font-size: 2rem;
}

.market-container h1 h2, h3 {
  margin: 0.5rem 0;
}

.market-container h2 {
  font-size: 1.5rem;
}

/* Positioning */

.row {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  flex-flow: wrap;
}

.row-center {
  align-items: center;
}

/* Market items */

ul {
  list-style-type: none;
}

/* Product Styles */
.product img{
  max-height: 8rem;
}

/* Button styles */
.btn {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 1rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

/* Button State Styles */
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}

button.delete {
  background-color: #f04040;
  width: 1.5rem;
}

.text-right {
  text-align: right;
}

/* Cart Items Badge */
.badge-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.badge {
  background-color: #f04040;
  border: none;
  color: #fff;
  width: 1.7rem;
  height: 1.7rem;
  position: relative;
  right: 25px;
  font-weight: bold;
  border-radius: 0.5rem;
  font-size: 1rem;
}